.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    position: sticky;
    height: fit-content;
    top: var(--static-space-64);
}
.avatarPositioning {
    margin-left: -50px; // Pulls the avatar closer to the TOC
}

@media (--m) {
    .avatarPositioning {
      margin-left: 0; // Reset on mobile where TOC is hidden
    }
}
@media (--s) {
    .avatar {
        top: auto;
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}